@model Diporto.ViewModels.Admin.CommonViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Diporto</title>
        <link rel="stylesheet" href="~/css/admin/common.css">
        @RenderSection("styles", required: false)
    </head>
    <body>
      <div class="root-container">
        <div class="header">
          <a href="/admin/home" class="app-name">
            <h1>Diporto</h1>
            <span>Admin Portal</span>
          </a>
          @if (Model != null) {
            <div class="controls">
              <h4>@Model.Name</h4>
              <form action="/api/logout" method="post">
                <input type="submit" value="Logout">
              </form>
            </div>
          } else {
            <div class="controls">
              <a href="/admin">Login</a>
            </div>
          }
        </div>
        <div class="content">
          @RenderBody()
          @RenderSection("scripts", required: false)
        </div>
      </div>
    </body>
</html>
